body{
    background: var(--color-gray9);

}
#content-general{
    width: 90%;
    margin: auto;
    background-color: transparent;
    color: white;
}

/* Liste evenement */
#evemenent-liste{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}
#evemenent-liste .list-element{
    width: 100%;

}
#evemenent-liste .list-element .element{
    height: 88px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    text-align: left;
    background-color: var(--color-gray8);
    border-radius: 5px;
    position: relative;
}
#evemenent-liste .list-element .element .info{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
#evemenent-liste .list-element a.element:hover{
    box-shadow: 5px 5px 10px black;

}
#evemenent-liste .list-element a.element{
    color: var(--color-test-white);

}
#evemenent-liste .list-element a.element .join_pin{
    background: var(--color-green);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#evemenent-liste .list-element a.element .info p{
    width: 100%;
    cursor: pointer;

}
#evemenent-liste .list-element a.element .info p.nom{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#evemenent-liste .list-element a.element .info p.date{
    font-size: 16px;

}
#evemenent-liste .list-element a.element .info p.participant{
    font-size: 12px;

}
#evemenent-liste .list-element a.element .info p.desc{
    overflow: hidden;
    max-height: var(--size-xxl);
    color: var(--color-gray4);
}
#evemenent-liste .list-element a.element .bookmark-partie{
    background-color: var(--color-green);
    border-radius: 2px;
    min-width: 8px;
    margin-right: 1rem;
    height: 88px;
}
#evemenent-liste .list-element a.element .bookmark-evenement{
    background-color: var(--color-orange);
    border-radius: 2px;
    min-width: 8px;
    margin-right: 1rem;
    height: 88px;
}
#evemenent-liste .list-element a.evenement-passe{
    opacity: 0.2;
}

#evemenent-liste #legende{
    width: 300px;
    margin-right: 5rem;
}
#evemenent-liste #legende h2{
    color: var(--color-text-white);
    font-size: var(--size-l);
    margin-bottom: var(--size-xxl);
}
#evemenent-liste #legende div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#evemenent-liste #legende .legende_1{
    width: 21px;
    height: 21px;
    background-color: var(--color-green);
    border-radius: 50%;
    margin-right: var(--size-s);
}
#evemenent-liste #legende .legende_2{
    width: 6px;
    height: 43px;
    background-color: var(--color-green);
    border-radius: 5px;
    margin: var(--size-l) var(--size-s) var(--size-l) 7px;
}
#evemenent-liste #legende .legende_3{
    width: 6px;
    height: 43px;
    background-color: var(--color-orange);
    border-radius: 5px;
    margin: 0 var(--size-s) 0 7px;
}


.staff_button_liste_evenement{
    margin: 3rem auto 0 auto;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.staff_button_liste_evenement a{
    margin: 0.25rem 0;
}



/* evenement detail */
.titre-evenement{
    color: var(--color-text-white);
    text-align: center;
    margin: var(--size-xl) auto;
}
.bannier{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
}
.nom-date{
    background-color: var(--color-gray8);
    border-radius: 10px;
    height: var(--size-xxl);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-xl);
    margin: var(--size-m) 0;
    font-size: var(--size-m);
}
.terrain-desc{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: var(--size-m);
    margin: var(--size-xxl) 0;
}
.terrain-desc h1{
    font-size: var(--size-m);
    font-weight: bold;
    margin-bottom: var(--size-xs);
}
.terrain-desc p{
    font-size: var(--size-s);
}
.options{
    display: flex;
    flex-direction: column;
}
.options article{
    margin-bottom: var(--size-xl);
}

.option-available {
    background-color: var(--color-blue-light);
    border-radius: 10px;
    margin-bottom: var(--size-xl);
}

/* Styles pour les options disponibles */


.option-available h1 {
    background-color: var(--color-blue-light);
    color: var(--color-text-white);
    text-align: center;
    padding: var(--size-s);
    font-size: var(--size-m);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.option-available p {
    background-color: var(--color-gray8);
    padding: var(--size-m);
    font-size: 14px;
    min-height: 150px;
}

.option-available h2 {
    text-align: center;
    font-size: var(--size-l);
    background-color: var(--color-light-blue);
    padding: var(--size-m);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Styles pour les options non disponibles */
.option-unavailable {
    background-color: var(--color-gray7);
    border-radius: 10px;
    margin-bottom: var(--size-xl);
    opacity: 0.7;
}

.option-unavailable h1 {
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    text-align: center;
    padding: var(--size-s);
    font-size: var(--size-m);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.option-unavailable p {
    background-color: var(--color-gray8);
    padding: var(--size-m);
    font-size: 14px;
    color: var(--color-text-muted);
    min-height: 150px;
}

.option-unavailable h2 {
    text-align: center;
    font-size: var(--size-l);
    background-color: var(--color-gray7);
    padding: var(--size-m);
    color: var(--color-text-muted);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}






.liste_joueurs{
    background-color: var(--color-gray8);
    border-radius: 5px;
    padding: var(--size-xxl) 0;
    background: var(--grade-1);
}
.liste_joueurs .bloque_1{
    text-align: center;

}
.liste_joueurs .bloque_1 h2{
    font-size: var(--size-m);
}
.liste_joueurs .bloque_1 p{
    font-size: var(--size-s);
}
.liste_joueurs .bloque_2{
    padding: var(--size-m);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pour espacer les colonnes */
    margin: var(--size-xl) 0;
}
.liste_joueurs .bloque_2 p{
    width: 40%; /* Ajuste la largeur pour chaque colonne */
    text-align: center;
    margin: var(--size-s) 0;
    font-size: var(--size-m);
    border: 1px solid var(--color-text-white);
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 var(--size-m);
    border-radius: 50px;
}
.liste_joueurs .bloque_2 p.noplayer{
    width: 100%; /* Ajuste la largeur pour chaque colonne */
    text-align: center;
    margin-bottom: 10px;
    color:var(--color-gray6);
}
.liste_joueurs .bloque_2 a{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.liste_joueurs .bloque_2 i{
    color: var(--color-text-white);
    font-style: normal;
}
.liste_joueurs .bloque_2 i.desc{
    color: var(--color-gray4);
    font-size: var(--size-s);
}
.bloque_3{
    color: var(--color-gray5);
    font-size: var(--size-m);
    border: 1px dashed var(--color-sand-dark);
    border-radius: 5px;
    margin: 4rem 0;
    padding: var(--size-xxl) 0;
    display: flex;
    flex-direction: column;
}
.bloque_3 p{
    font-size: var(--size-m);
    margin-bottom: var(--size-l);
    color: var(--color-sand-light);
    text-align: center;
}
.bloque_3 a{
    font-size: var(--size-m);
    margin: 0 var(--size-xxl);
}



.inscription{
    width: 300px;
    margin: 32px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.inscription a{
    padding: 16px 0;
    border-radius: 100px;
    margin: 16px 0;
}
.inscription .pasmodifiable{
    font-size: var(--size-m);
    color: var(--color-green);
    text-align: left;
}


/*
.inscription a.btn_1{
    border: 2px solid var(--color-blue-normal);
    color: var(--color-text-white);
    background-color: var(--color-blue-normal);
}
.inscription a.btn_1:hover{
    background-color: var(--color-blue-light);
    border: 2px solid var(--color-blue-light);
}
.inscription a.btn_2{
    border: 2px solid var(--color-blue-normal);
    color: var(--color-blue-normal);
    background-color: transparent;
}
.inscription a.btn_2:hover{
    color: var(--color-text-white);
    border: 2px solid var(--color-text-white);
}
.inscription a.btn_3{
    border: 2px solid var(--color-red);
    color: var(--color-red);
    background-color: transparent;
}
.inscription a.btn_3:hover{
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}
.inscription a.btn_4{
    border: 2px solid var(--color-green);
    color: var(--color-green);
    background-color: transparent;
}
.inscription a.btn_4:hover{
    background-color: var(--color-green);
    border: 2px solid var(--color-green);
    color: var(--color-text-black);
}
.inscription a.btn_5{
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
    background-color: transparent;
}
.inscription a.btn_5:hover{
    background-color: var(--color-orange);
    border: 2px solid var(--color-orange);
    color: var(--color-text-black);
}
.inscription a.btn_6{
    border: 2px solid var(--color-red);
    color: var(--color-text-white);
    background-color: var(--color-red);
}
.inscription a.btn_6:hover{
    border: 2px solid var(--color-text-black);
    color: var(--color-text-black);
    background-color: var(--color-red);
}
*/





/*Inscription*/
.mobilsize{
    margin: 32px auto;
    width: 90%;
}
.mobilsize h2{
    text-align: center;
    margin: 16px auto;
    font-size: 19.3px;
}
.mobilsize h3{
    text-align: left;
    margin: 16px auto;
    font-size: 16px;
    font-weight: normal;
}
.mobilsize form{
    display: flex;
    flex-direction: column;
}
.mobilsize .prix_total{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mobilsize .prix_total span{
    font-size: 19.3px;
    font-weight: bold;
}
.mobilsize table{
    color: var(--color-text-white);
    text-align: center;
    font-size: 14px;
}
.mobilsize form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mobilsize input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-gray8); /* Couleur de la bordure */
    background-color: var(--color-gray8); /* Couleur de fond quand non sélectionnée */
    border-radius: 10px; /* Pour donner des bords arrondis */
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}
.mobilsize input[type="checkbox"]:checked {
    background-color: var(--color-gray7); /* Garder la même couleur de fond */
    border: none;
}
.mobilsize input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 15px;
    border: solid var(--color-text-white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    left: 10px;
    top: 4px;
}
.mobilsize .label-text {
    font-size: 16px;
    color: var(--color-text-white); /* Couleur du texte */
    margin-left: 10px;
}

.mobilsize .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.mobilsize input[type="text"]{
    background: var(--color-gray7);
    color: var(--color-text-white);
    border:0;
    padding: 16px;
    border-radius: 10px;
}
.mobilsize input[type="text"]::placeholder{
    color: var(--color-gray3);

}




/* Comptabilitée */
#compta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#compta h2{
    font-size: var(--size-xl);
    margin: var(--size-xl) 0 var(--size-m) 0;
}
#compta a{
    color: var(--color-text-white);
    text-decoration: underline;
    margin: 0;
    margin-bottom: var(--size-xxl);
    font-size: var(--size-m);
    color: var(--color-gray6);
}
#compta #liste{
    width: 100%;

}
#compta article{
    margin-bottom: var(--size-m);
    padding: var(--size-m);
    border-bottom: 1px solid var(--color-text-white);
    font-size: var(--size-m);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#compta article div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#compta article i{
    border: 1px solid var(--color-text-white);
    height: 16px;
    width: 16px;
    display: block;
    font-style: normal;
    margin-left: var(--size-xs);
    border-radius: 50%;
    padding: 3px;
}
#compta article i p{
    padding: 0;
    margin: 0;
    font-size: var(--size-s);
    text-align: center;
}
#compta #liste .validated-row p{
    color: var(--color-gray7);

}
#compta #liste article.validated-row  i{
    border: 1px solid var(--color-gray7);
    background-color: var(--color-gray6);
}
#compta #liste article i.valide{
    background-color: var(--color-gray3);
}
#compta p{
    color: var(--color-text-white);

}
form{
    text-align:center;

}
.recapitulatif{
    width: 100%;

}
.recapitulatif p{
    margin-top: var(--size-xs);
    padding: var(--size-xxs);
}







#participant h2.nom_utilisateur{
    font-size: var(--size-xl);
    text-align: center;
    margin: var(--size-xl) auto;
}

#participant .detail_prix{
    border: 1px dashed var(--color-sand-dark);
    background-color: var(--color-gray10);
    padding: var(--size-m);
}
#participant .detail_prix ul li p{
    font-size: var(--size-m);

}
#participant .detail_prix .text-center{
    margin: auto;
    text-align: center;
    font-size: var(--size-m);
}



/* Liste réplique */

#participant form .replique h4{
    font-size: var(--size-l);
    margin-bottom: var(--size-m);
}
#participant form .replique{
    display: flex;
    flex-direction: column;
}
#participant form .replique article{
    border: 1px solid var(--color-sand-dark);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-xl);
}
#participant form .replique article .clomns h3{
    font-weight: normal;
    font-size: var(--size-m);
}
#participant form .replique article .clomns{

    align-items: center;
    padding: 1rem;
}
#participant form .replique article .clomns button{
    width: 200px;
    margin: auto;
    align-items:center;
    cursor: pointer;
}

#repliques_listes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--size-xl) 0;
}
#repliques_listes article {
    background-color: var(--color-gray8);
    border-radius: 10px;
    padding: var(--size-m);
    text-align: center;
    width: 90%;
    margin-bottom: var(--size-l);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#repliques_listes article img {
    width: 80px;
    margin-bottom: var(--size-s);
}
#repliques_listes article h1 {
    font-size: var(--size-m);
    margin-bottom: var(--size-s);
    color: var(--color-text-white);
}
#repliques_listes article p {
    font-size: var(--size-s);
    color: var(--color-gray4);
    margin-bottom: var(--size-xs);
}
#repliques_listes .replique_pasok {
    opacity: 0.25;

}
#text-limite-puissance{
    margin: -30px auto var(--size-xxl) auto;
    text-align: center;
    font-style: italic;
}
#text-limite-puissance p{
    color: var(--color-gray5);

}
.replique_choice_input{
    padding: var(--size-m);
    border-radius: 5px;
    background-color: var(--color-gray7);
    border: 0;
    color: var(--color-text-white);
}

input[readonly] {
  background-color: #494b4d;
  pointer-events: none;
}
.replique-section {
  margin-bottom: 10px;

}
#amis_repliques_section{
    text-align: left;
    margin: auto;
}


/*Création d'evenement*/
#content-creation{
    width: 100%;
    margin: auto;
}
#content-creation h2{
    text-align: center;
    margin: var(--size-xxl);
}
#content-creation form{
    display: flex;
    flex-direction: column;

}
#content-creation div.parte{
    align-items: center;
    margin: auto;
    width: 100%;
}

#content-creation .parte.titre{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
}
#content-creation .parte.titre p{
    text-align: left;

}
#content-creation .parte.titre input{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
}
#content-creation .parte.titre textarea{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
}
#content-creation .parte.date{
    width: 100%;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--size-m) auto;
}
#content-creation .parte.date input[type="datetime-local"]{
    border: 0;
    padding: var(--size-s) var(--size-m);
    border-radius: 5px;
    background-color: var(--color-gray7);
    color: var(--color-text-white);
}

#content-creation .parte.lieu{
    margin: var(--size-m) auto;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#content-creation .parte.lieu .col{
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
}
#content-creation .parte.lieu select{
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
    border-radius: 5px;
    margin-top: var(--size-xxs);
}
#content-creation .parte.lieu input{
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
    border-radius: 5px;
    border: 1px solid var(--color-gray7);
    margin-top: var(--size-xxs);
}
#content-creation .parte.lieu input[readonly]{
    background-color: var(--color-gray10);
    cursor: nodrop;
    color: var(--color-text-white);
    border: 1px solid var(--color-gray7);
}
#content-creation .parte.lieu .add_new_adresse{
    color: red;
    margin: var(--size-xs) 0 0 var(--size-xs);
    font-size: var(--size-s);
    color: var(--color-gray4);
}
#content-creation .parte.lieu .add_new_adresse:hover{
    color: var(--color-gray1);

}

/* Conteneur pour les sliders de nombre de joueur */
#content-creation .parte.nbre_joueur{
    width: 100%;

}
#content-creation .parte.nbre_joueur .slider-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}
#content-creation .parte.nbre_joueur #range-slider {
    position: relative;
    width: 100%;
    z-index: 1; /* Assurez-vous que la barre soit en arrière-plan */
}
#content-creation .parte.nbre_joueur #range-slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: var(--color-gray7);
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 0;
    pointer-events: none; /* Éviter de déplacer les deux sliders simultanément */
    margin: var(--size-m) auto;
    z-index: 1; /* z-index de la barre */
}
#content-creation .parte.nbre_joueur #range-slider input[type="range"]:first-child {
    pointer-events: all; /* Autoriser le premier slider à être déplacé */

}
#content-creation .parte.nbre_joueur #range-slider input[type="range"]:last-child {
    background-color: transparent;

}
#content-creation .parte.nbre_joueur #range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-blue-light);
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    z-index: 10; /* Le curseur est plus au-dessus que la barre */
    position: relative; /* Nécessaire pour appliquer z-index */
}
#content-creation .parte.nbre_joueur #range-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--color-blue-light);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10; /* Assurez-vous que le curseur est toujours au-dessus */
    position: relative;
}
#content-creation .parte.nbre_joueur .range-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
    font-size: 1em;
    color: var(--color-text-white);
}

#content-creation .parte.puissance{
    width: 100%;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--size-m) auto;
    border-bottom: 1px solid var(--color-text-white);
    padding-bottom: var(--size-m);
}
#content-creation .parte.puissance input{
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#content-creation .parte#repliques_listes{
    margin: var(--size-xxl) auto;

}
#content-creation .parte#repliques_listes input{
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    padding: var(--size-s) var(--size-m);
    border: 0;
    border-radius: 5px;
    text-align: center;
    margin: var(--size-m) 0 var(--size-xxs);
}
#content-creation .parte#repliques_listes .replique-section {
    opacity: 0.2; /* Réduction de l'opacité par défaut */
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}
#content-creation .parte#repliques_listes .replique-section.active {
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre pour mettre en valeur */
}

#content-creation .parte.option_choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#content-creation .parte.option_choix h1{
    font-size: var(--size-m);

}
#content-creation .parte.option_choix label {
    font-size: var(--size-s);

}
#content-creation .parte.option_choix .element{
    border: 1px solid var(--color-gray7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 28%;
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 5px;
    justify-content: space-between;
}
#content-creation .parte.option_choix .lesoptions{
    text-align: left;

}
#content-creation .parte.option_choix input[type="checkbox"]{
    margin: auto;

}
#content-creation .parte.option_choix input[type="number"]{
    padding: var(--size-xs) var(--size-m);
    border: 0;
    border-radius: 5px;
    text-align: center;
}
#content-creation .parte button[type="submit"]{
    border: 0;
    width: 30%;
    cursor: pointer;
}





#suppression_evenement{
    width: 60%;
    margin: var(--size-xxl) auto;
    padding: var(--size-m) var(--size-l);
    border-radius: 5px;
    background-color: var(--color-gray8);
    box-shadow: 5px 5px 10px #00000050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}
#suppression_evenement div{
    text-align: center;
}





/* Container pour le slider evenement/partie */
#content-creation .slider-container {
    margin: var(--size-s) 0 var(--size-xxl) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#content-creation .slider-container span{
    width: 50px;

}
#content-creation .slider-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 var(--size-m);
}
#content-creation .slider-switch input[type="checkbox"] {
    display: none;

}
#content-creation .slider {
    position: relative;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    border-radius: 50px;
}
#content-creation .slider-label {
    font-size: 1.2em;
    color: #fff;
    z-index: 2;
    transition: color 0.3s;
}
#content-creation .toggle {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
#content-creation .slider-switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-sand-normal); /* Couleur marron pour Événement */

}
#content-creation .slider-switch input[type="checkbox"] + .slider {
    background-color: var(--color-blue-light); /* Couleur marron pour Événement */

}
#content-creation .slider-switch input[type="checkbox"]:checked + .slider .toggle {
        transform: translateX(22px);

    }





/*Commentaire Chat*/
.chat-section{
    padding: var(--size-m);
    border-radius: 10px;
    background: var(--grade-1);
    margin: var(--size-xxl) 0;
}
.chat-section h2{
    margin-bottom: var(--size-s);
}
.message-content{
    margin-left: var(--size-m);
}


.message-content-wrapper {
    flex: 1;
}





.mymessage{
    background: var(--color-gray9);
}
.message.deleted {
    color: var(--color-gray8);
    font-style: italic;
}
.no-messages{
    color: var(--color-gray2);
    margin-bottom: var(--size-m);
}
.edited-tag {
    color: var(--color-gray5);
    font-size: 0.8em;
    font-style: italic;
}
.message {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: var(--grade-1);
    padding: var(--size-s);
    border-radius: 8px;
    margin: var(--size-m) 0;
}
.message .pseudo{
    color: var(--color-sand-normal);
    font-weight: bold;
}
.message .btn-delete{
    color: var(--color-gray7);
    background-color: transparent;
}
.message .btn-delete:hover{
    color: var(--color-gray5);
    background-color: transparent;
}
.chat-messages{
    display: flex;
    flex-direction: column;

}



.chat-section form{
    width: 100%;
    position: relative;
}
.chat-section form textarea{
    width: 100%;
    height: 75px;
    padding: var(--size-s);
    border-radius: 10px;
    border: 0;
    background-color: var(--color-gray7);
    color: var(--color-text-white);
    resize: none;
}
.chat-section form button[type=submit]{
    position: absolute;
    bottom: 7px;
    right: 7px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: var(--color-blue-normal);
    color: var(--color-text-white);
    transition: 0.7s;
}
.chat-section form button[type=submit]:hover{
    background-color: var(--color-blue-light);
    color: var(--color-text-white);
    transition: 0.2s;
}




.replique_tab{
}

table.OneMessage{
    width: 100%;
}
.OneMessage, .OneMessage tr, .OneMessage td{
    border-collapse: collapse;
}
.profile-picture {
    width: 70px;
}
.profile-picture img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-gray7);
    margin: 10px;
}
.OneMessage{
    margin-bottom: 2rem;
}
.OneMessage .pseudo{
    color: var(--color-sand-normal);
    font-weight: bold;
    margin-top: 10px;
}
.OneMessage .messages{
    width: 90%;
}
.OneMessage .messages p{
    margin-left: 1rem;
}
.OneMessage .timestamp{
    color: var(--color-gray4);
    width: 10%;
    font-size: var(--size-s);
}
.OneMessage .btn-delete {
    color: var(--color-gray7);
    background-color: transparent;
}
.OneMessage .message-actions{
    margin-left: 1rem;
}
.btn-delete:hover {
    color: var(--color-gray5);
    background-color: transparent;
}
.btn-edit {
    color: var(--color-gray7);
    background-color: transparent;
}
.btn-edit:hover {
    color: var(--color-gray5);
    background-color: transparent;
}
.btn-action {
    color: var(--color-gray7);
    border: none;
    padding: 5px 10px 5px 0;
    font-size: var(--size-s);
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}
.btn-action:hover{
    color: var(--color-gray5);
}


@media screen and (min-width: 700px){
    #evemenent-liste .list-element .element .info{
        display:flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #evemenent-liste .list-element a.element .info p.nom{
        text-align: left;
        margin-left: var(--size-xl);
        width: 200px;
    }
    #evemenent-liste .list-element a.element .info p.desc{
        text-align: left;
    }


    /*Box des options dans event detail*/
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 100%;
    }
    .options article{
        width: 30%;
    }
    .options p{
        height: 25%;
    }
    .options h2{
    padding-top: var(--size-l);
    }
    .liste_joueurs {
        background-color: var(--color-gray8);
        border-radius: 5px;
        padding: var(--size-xxl) 0;
        width: 62%;
        margin: auto;
    }

    .bannier{
        width: 100%;
        height: 410px;
        object-fit: cover;
        border-radius: 10px;
    }

    #repliques_listes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: var(--size-xxl) 0;
    }

    #repliques_listes article {
        width: 200px;
        margin-bottom: var(--size-xl);
    }

    #repliques_listes article img {
        width: 100px;
        margin-bottom: var(--size-m);
    }

    #content-creation{
        width: 50%;
    }

    #content-creation .parte.option_choix .element{
        padding: var(--size-m);
    }
    #content-creation .parte.option_choix h1{
    font-size: var(--size-l);
    }
}