{% extends 'base.html' %}
{% load static %}



{% block title %} <title>Index</title> {% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{% static 'evenement/css/evenement2.css' %}">
{% endblock %}




{% block content %}

    <h1 class="titre-evenement"> {{ evenement.nom }} </h1>
    {% if evenement.type_evenement == "Partie" %}
        <img class="bannier" src="{% static 'evenement/images/partie.jpg' %}" alt="Bannière pour les partie">
    {% else %}
        <img class="bannier" src="{% static 'evenement/images/evenement.png' %}" alt="Bannière pour les evenement">
    {% endif %}



    <div class="nom-date">
        <p>{{ evenement.date_heure|date:"d F Y" }}</p>
        <p>{{ evenement.date_heure|time:"H:i" }}</p>
    </div>


    <div class="terrain-desc">
        <h1>{{ evenement.lieu }}</h1>
        <p>{{ evenement.description }}</p>
    </div>



<div class="options">
    <!-- Freelance Section -->
    {% if evenement.freelance %}
        <article class="option-available">
            <h1>Freelance</h1>
            <p>
                Vous n'êtes pas membre de l'association ? Pas de problème, vous pouvez nous rejoindre sur cette partie !
            </p>
            <h2>{{ evenement.prix_freelance }}€</h2>
        </article>
    {% else %}
        <article class="option-unavailable">
            <h1>Freelance</h1>
            <p>
                Pour cet événement, les freelance ne sont pas acceptés, désolé...
            </p>
            <h2>Non accepté</h2>
        </article>
    {% endif %}

    <!-- Location Section -->
    {% if evenement.locations %}
        <article class="option-available">
            <h1>Location</h1>
            <p>
                Tu n'as pas ton propre équipement ? Pas de souci, on peut t'équiper sur place avec notre pack de location.
            </p>
            <h2>{{ evenement.prix_location }}€</h2>
        </article>
    {% else %}
        <article class="option-unavailable">
            <h1>Location</h1>
            <p>
                La location d'équipement n'est pas disponible pour cet événement.
            </p>
            <h2>Non disponible</h2>
        </article>
    {% endif %}

    <!-- Repas Section (reste inchangé car déjà géré) -->
    {% if evenement.repas == "Inclus" %}
        <article class="option-available">
            <h1>Repas</h1>
            <p>
                Prolonge ce moment avec nous ! En fin de partie, on organise un barbecue, viens avec nous !
                ça sera surement Barbeque
            </p>
            <h2>{{ evenement.prix_repas }}€</h2>
        </article>
    {% elif evenement.repas == "Apporter" %}
        <article class="option-available">
            <h1>Repas</h1>
            <p style="font-weight: bold; color: #FF5722;">
                N'oubliez pas d'apporter votre propre repas pour prolonger le plaisir en fin de partie avec tout le monde !
                (On a pas le droit de faire de feu et on a pas d'éléctricitée)
            </p>
            <h2>Le votre</h2>
        </article>
    {% else %}
        <article class="option-unavailable">
            <h1>Repas</h1>
            <p>
                Pas de repas pour cette évenement.
            </p>
            <h2>Pas de repas</h2>
        </article>
    {% endif %}
</div>

    <div class="bloque_3">
        <p>
            Pour ne pas te voir interdit de jeu :
        </p>
        <a href="{% url 'regles_general' %}" class="btn_1">Les règles</a>
    </div>


<div id="repliques_listes">

    {% if evenement.limite_aeg != 0 %}
        <article>
            <img src="{% static 'gun/images/aeg.png' %}" alt="AEG">
            <h1>AEG</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_aeg }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.AEG }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/aeg.png' %}" alt="AEG">
            <h1>AEG</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_smg != 0 %}
        <article>
            <img src="{% static 'gun/images/smg.png' %}" alt="SMG">
            <h1>SMG</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_smg }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.SMG }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/smg.png' %}" alt="SMG">
            <h1>SMG</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_pa != 0 %}
        <article>
            <img src="{% static 'gun/images/pa.png' %}" alt="PA">
            <h1>PA</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_pa }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.PA }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/pa.png' %}" alt="PA">
            <h1>PA</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_pompe != 0 %}
        <article>
            <img src="{% static 'gun/images/pompe.png' %}" alt="POMPE">
            <h1>POMPE</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_pompe }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.POMPE }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/pompe.png' %}" alt="POMPE">
            <h1>POMPE</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_mg != 0 %}
        <article>
            <img src="{% static 'gun/images/mg.png' %}" alt="MG">
            <h1>MG</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_mg }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.MG }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/mg.png' %}" alt="MG">
            <h1>MG</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_dmr != 0 %}
        <article>
            <img src="{% static 'gun/images/dmr.png' %}" alt="DMR">
            <h1>DMR</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_dmr }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.DMR }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/dmr.png' %}" alt="DMR">
            <h1>DMR</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

    {% if evenement.limite_autre != 0 %}
        <article>
            <img src="{% static 'gun/images/autre.png' %}" alt="AUTRE">
            <h1>AUTRE</h1>
            <p>Nombre maximum autorisé : {{ evenement.limite_autre }}</p>
            <p>Utilisé par les joueurs : {{ count_repliques.AUTRE }}</p>
        </article>
    {% else %}
        <article class="replique_pasok">
            <img src="{% static 'gun/images/autre.png' %}" alt="AUTRE">
            <h1>AUTRE</h1>
            <p>Ce type de réplique n'est pas autorisé</p>
        </article>
    {% endif %}

</div>

<div id="text-limite-puissance">
    <p>Puissance maximal: {{ evenement.puissance_max_joule }} Joule(s)</p>
</div>





    <div class="liste_joueurs">
        <div class="bloque_1">
            <h2>Liste des joueurs</h2>
            <p>Plus que {{ places_restantes }} places disponibles</p>
        </div>

        <div class="bloque_2">
            {% for participant in participants %}
                <p>
                    {% if participant.inscription.utilisateur %}
                    <a href="{% url 'user_profile' participant.inscription.utilisateur.id %}">
                        <i>{{ participant.joueur }}</i>
                        <i class="desc">{{ participant.repliques }}</i>
                    </a>
                    {% else %}
                    <a href="{% url 'user_profile' participant.inscription.inscrit_par.id %}">
                        <i>{{ participant.joueur }} <!--({{ participant.inscription.inscrit_par.pseudo }})--></i>
                        <i class="desc">{{ participant.repliques }}</i>
                    </a>
                    {% endif %}
                </p>
            {% empty %}
                <p class="noplayer">"Aucun participant inscrit pour le moment"</p>
            {% endfor %}
        </div>
    </div>



    <div class="inscription">
        {% if user.is_authenticated %}
            {% if user_role != 'new' %}
                {% if evenement.date_heure >= today %}
                    {% if not is_inscrit %}
                        <a class="btn_2" href="{% url 'inscription_evenement' evenement.id %}">S'inscrire</a>
                    {% else %}
                        <a class="btn_2" href="{% url 'inscription_ami' evenement.id %}">Inscrire un(e) ami(e)</a>
                        <a class="btn_3" href="{% url 'desinscription_evenement' evenement.id %}">Se désinscrire</a>
                    {% endif %}
                {% else %}
                    <p>Cette événement est fini, vous ne pouvez plus vous inscrire !</p>
                {% endif %}
            {% else %}
                <p>Votre compte doit être validé pour vous inscrire à une partie.</p>
            {% endif %}
        {% else %}
            <p>Vous devez être connecté pour vous inscrire.</p>
        {% endif %}

        {% if user.is_staff %}
            <div class="spacer_100"></div>
            <a class="btn_5" href="{% url 'comptabilite_evenement' evenement.pk %}">Comptabilité</a>
            {% if evenement.date_heure >= today %}
                <a class="pc btn_6" href="{% url 'evenement_update' evenement.pk %}">Modifier</a>
                <a class="pc btn_7" href="{% url 'evenement_delete' evenement.pk %}">Supprimer</a>
                <p class="mobil pasmodifiable">*Vous ne pouvez pas modifier ou supprimer un événement depuis un téléphone.</p>
            {% endif %}
        {% endif %}
    </div>




<div class="chat-section">
    <h2>Discussion</h2>
    {% if messages %}
        <div class="chat-messages">
            {% for message in messages %}
                <div class="message {% if message.is_deleted %}deleted{% elif message.updated_at > message.created_at %}edited{% endif %} {% if message.user == user %}mymessage{% endif %}" id="message-{{ message.id }}">
                    <!-- Image de profil -->
                    <div class="profile-picture">
                        <img src="{{ message.user.userprofile.avatar.url }}" alt="Photo de {{ message.user.pseudo }}">
                    </div>

                    <!-- Contenu du message -->
                    <div class="message-content-wrapper">
                        <p class="pseudo">{{ message.user.userprofile.role }} - {{ message.user.pseudo }} :</p>
                        {% if message.is_deleted %}
                            <p>Ce message a été supprimé</p>
                        {% else %}
                            <div class="message-content">
                                <p>{{ message.content }}</p>
                            </div>
                            {% if message.updated_at > message.created_at %}
                                <p class="edited-tag">Édité</p>
                            {% endif %}
                        {% endif %}
                        <p class="timestamp">
                            {% if message.created_at|date:"d/m/Y" == today|date:"d/m/Y" %}
                                {{ message.created_at|time:"H:i" }}
                            {% elif message.created_at|date:"d/m/Y" == yesterday|date:"d/m/Y" %}
                                Hier : {{ message.created_at|time:"H:i" }}
                            {% else %}
                                {{ message.created_at|date:"d/m/Y H:i" }}
                            {% endif %}
                        </p>
                    </div>

                    <!-- Actions -->
                    {% if message.user == user or user.is_staff %}
                        <div class="message-actions">
                            {% if not message.is_deleted %}
                                {% if message.user == user %}
                                    <button class="btn-action btn-edit" data-message-id="{{ message.id }}">Modifier</button>
                                {% endif %}
                                {% if user.is_staff %}
                                    <button class="btn-action btn-delete" data-message-id="{{ message.id }}">Supprimer</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-messages">Aucun message pour cet événement.</p>
    {% endif %}

    <!-- Formulaire d'envoi -->
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'send_message' chat_room.id %}">
            {% csrf_token %}
            <textarea name="content" placeholder="Écrivez un message..." required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    {% else %}
        <p>Connectez-vous pour participer à la discussion.</p>
    {% endif %}
</div>





    <div class="spacer_200"></div>

<script src="{% static 'evenement/js/commentaires.js' %}"></script>


{% endblock %}
