{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>ajoute lieu</title>
{% endblock %}

{% block Css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'evenement/css/evenement2.css' %}">
{% endblock %}


{% block content %}

    <p>Pour des résons de simplicité de developpement, veuiller passer par l'interface administration de django pour ajouter de nouvelle adresse.</p>
    <br>
    <a href="/admin/evenement/lieu/" class="btn_4">Via ce lien</a>


{% endblock %}
