{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Règles générales</title>{% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'evenement/css/regles.css' %}">
{% endblock %}

{% block content %}



    Bien, cette page comport beaucoup de mots je sais.
    Tu va lire en diagonales, je sais.
    Tu sera excluse des partie si tu enfrein une règles, tu le sais.

Maintenant laisse moi t'expliquer tout ce qu'il faut savoir avant de venir jouer chez nous !
On vas parler de notre règlmes specifique mais aussi des règles de sécurité de la pratique. Prend le temps de tout lire c'est vraiment important !



Les thermes:
Réplique en sécurité:
On retire chargeur et la bille engager dans le canon.
On mes la réplique sur le cran de sécurité.
On pause la réplique ou on l'acroche a la sangle pour ne plus l'avoir dans les bras (limite le caractère agresif de cette dernière).

FAIR-PLAY :
Le fair-play, l’esprit sportif ou le franc-jeu désigne une conduite honnête dans un jeu, puis dans toutes circonstances.
Utilisé couramment dans le monde du sport, ce terme recouvre à la fois le respect de l'adversaire, des règles, des décisions de l'arbitre, du public et de l'esprit du jeu,
mais aussi la loyauté, la maitrise de soi et la dignité dans la victoire comme dans la défaite.
Le terme fair play est une expression anglaise composée de fair (« clair, franc, honnête, sans tricherie ») et de play (« jeu »).


Highlander : expression tirée du film et de la série éponymes, elle désigne les joueurs "immortels" faisant preuve de tricherie, en ne voulant pas se désigner "out" d'eux-mêmes.
Bien qu'il arrive qu'une touche ne soit pas ressentie — feu de l'action, épaisseur/rigidité de certaines tenues - la triche répétée amène le joueur incriminé à être connu comme étant un "highlander".
Le jeu se basant sur le fair-play, ce type de joueur n'est pas le bienvenu sur les aires de jeu.






-Tout les réplques passe obligatoirement au chorny avant chaque partie.
    A tout moment un joueur suspect peut être inviter à re passer au chrony pour confirmer ces puissances. Cette demande peut être fait par n'import quelle joueurs aupres d'un staff.
    Chaque partie est different et selon les evenement cette puissance maximal et variable. Mais elle n'exedera jamais les 2 joules
    Chez ABC on calcule votre puissance a la bille de jeu et hopup à 0.











Sont interdit:
    -Les badge medical croix rouge. Il ne peuvent être porté QUE par de vrai medecin, pompier ou personne habilité secourisme.
    On quite donc le roleplay c'est extremement important d'identifier les vrai secouriste sur un terrain en cas de souci.
    - les tenu a caractère politique (seconde guerre mondial oui, mais sans l'aigle si vous voyezr ce que je veut dire)
    - Les chargeur grand capacitée de plus de 150 billes (on a une derogation pour les Machine gun)
    - Bille non dégradable
    - HPA
    - Lazer / Flashlight type stroboscope
    - Les mods de tire "Full Automatique". Si votre réplque na pas de rafal, vous pouvez en siluer avec un mode full auto. mais n'en abusez pas.
    - Les Mineurs (-18 ans). En cas de doûte, on vous demandera votre carte d'identiter pour verification.
    - Objet pyrotechnique. Fumigène, grenade, quelle soit spring ou co2 sont interdit sauf indication specifique d'un evenement.
    - Il est strictement interdit de fumées/vapé sur le terrain. Des zones sont prevu à cette effet.
    - Tout possesion d'arme blanche. Stupefien ou alcool. (on a pas d'etilotest. mais si on a des soupson vous serez interdit de jeu. Attention, dans nos rante il y a des gendarmes, des garde penitantier et des avocat. Éviter de fumée ou boire la veille...)


Sont obligatoire:
    -Chaussur montant type ranger/randonner pour bien proteger vos pied et chevilles. (30€ décathelon premier prix fera l'affaire mais choisiser des chaussur étanche et avec une bonne semelle.)
    -Le stolker ou protection faciale complet et obligatoire.
    -Un foulard n'est pas une protection.
    -Des lunettes de soleil ou de vu ne sont pas des protection.
    -Un masque chirurgical n'est pas une protection.




Sont facultatif mais recommander:
    - Casque rigide. Une bille ca peut faire une bosse sans gravité mais on peut vite en recevoir une salve.
    - Protection oreil, a mois que l'envie d'avoir un percing vous interesse, l'oreil peut vite gonfler, rougire et c'est pas très jolie.
    - Gants, On jou en foret, des tat de choses pourai ce gliser sous vos ongles, vous raper les maine... Et une bille sur le doight ca fait aussi très mal.
    - Gilet tactique ou vetement épai. Pour ce qui est du torce et des avant bras surtout. les bille dans la cuisse sont moins douloureuse. Attention quand même à pas avoir trop de couche
    pour ne pas avoir trop chaud et vous risquer de ne plus sentir les billes.
    - Radio Quelle soit a canaux (type motorola) ou a bande (type baofeng) on utiliser les canneau légaux !
    - Badge groupe sangin. Ca peut porté a sourir mais si vous porté un badge de groupe sangin, fait en sorte quil corresponde a la réalité. C'est important.
    - Si vous avez des alergie, des maladie, ou subit des operation dans votre vie. Il est fortement recommender de l'annoncer au staff ou le cas manquant, a plusieur joueur pour être sur que l'information soit connu.









Règles de jeu

    Chez ABC on mise tout sur l'amusement. Il ne vous sera jamais exiger de tenu ou de réplique particulière. Si vous voulez jouer En tenu de superman, avec un sac dora l'exploratrice et un pistolet a eau vous pouvez.
    On vous demandera juste de pas utiliser d'uniforme et surtout d'embleme trop evocatrice des ancien guerre. (notament rouge, blanc et noir si vous voyer ce que je veut dire.)

    La limite de puissance imposer ne fait pas tout ! Il est strictement interdit d'engager une cible a moins de 10m et 20m pour les snipper.
    Si vous estimer votre distance trop court pour pouvoir effectuer un tir sans douleur et sans risque cibler votre enemie et disent à haut voix : "Freeze !"
    Votre enemeie sera alors eliminer sans douleur. Si votre réplique netait pas en mesure de tiré (pas de bille, gas, batterie) la freeze ne peut pas avoir lieu et vous êtes eliminer à votre tour.
    Cette règles n'est valable que si la cible est "imancable". Si la probabilité de toucher aurai été trop faible, le freeze peut aussi être contester.
    Pas d'embrouille, eloigner vous d'une vaintein de mêtres et reprenez le jeu. (ou pierre feuille ciseau comme vous voulez on est la pour jouer !)

    La tête est une zone de tire mais elle doit être choisi en dernier recour. Previligier toujours le torce, le dos ou les jambe. Si un enemie ne laisse dépasser que ca tête alors que cela ne tienne, tiré !





    Chez ABC pas de medecin (sauf sénario particulier)
    Tout le monde est medecin.
    Nous avons tous notre propre kit de soin constituer de 3 bandage BLANC et 1 bandage JAUNE. (et une casquette/foulard/chasuble orange)
    Nous alons vous expliquer comment ça fonction.

    Quand vous êtes toucher par une bille, un freeze, ou que seige.
    Crier imediatement "OUT" en levant la/les main (ce prononce : "/awt/" et non pas "/hout/").

    Prenez votre casquette orange et brandiser-la. Elle annonce a tout le monde que vous êtes eliminer et donc, qu'il est unitile de vous tiré dessus d'avantage.
    Elle permet aussi a vos alier de savoir que vous êtes eliminer alors attendez pas trop !
    Vous devez reste sur place en attendante qu'un alier vienne vous réanimer. Si vous êtes dans une ligne de tire, ou pas en sécurité;
    vous pouvez vous déplacer dans une rayon de 5 mêtre pour vous abriter des echange de tire.
    Ce mouvement doit juste vous mêtre en sécurité réel et pas gener l'action de jeu. En aucun cas ce déplacement doit être pour ce cacher ou s'approcher d'un alier.
    Au bout de 1 minutes (60 seconde) si aucune alier na pu venir vous aider. Vous avez le droit de vous déplacer à volonter en marchant, toujour casquette orange sur la tête pour trouver un alier pour vous réanimer.
    Annoncer regulièrement "medic" sur votre passage pour atirer l'attention de vos alier.
    Les mort de parle pas. Vous donnerai les informations une fois réanimer et uniquement de ce que vous avez vue AVANT votre elimination.

    Pour être réanimer comment on fait ?
    Un alier va venir a votre niveau, vous lui donnerai un bandage de VOTRE KIT. les bandage sont personnel.
    Votre alier vous le nouera alors a votre poigner et vous pourai retourné en jeu en annonsant au est clair "Retour en jeu !" (oubliez pas de retirer votre casquette)
    C'est rapide, c'est facil, c'est simple.
    Profiter de votre temps ou pour recharger votre réplique. refaire vos lacer. boir un coup. c'est un conseil
    réanimer une fois, un bandage blanc,
    deux fois, un bandage blanc,
    trois fois un bandage blanc,
    quatre fois et ... Bas j'ai plus de bandage blanc ? On passe au jaune !

    Maintenant votre temps est compter.
    Si vous êtes eleminer avec un bandage jaune au poigner (donc 3 blanc et le jeune) vous avez plus de kit de soin.
    Pour vous réanimer vos alier devront placer leur deux main sur vos épaule pendant 20 secondes.
    Puise, vous pourai retourné en jeu. Tu peut repeter l'action aussi souvant que nessaisaire.
    facil non ?

    Parcontre, avec un bandage jeune un danger te guette... Si tu est out, et que un enemie vien a t'on niveau; Il poura te SIMULER un cracage de nique et vous serai eliminer definitivement jusqie a la fin de manche.
    Vous pouvez retourné au spawn, boire un café et jouer de votre passiance.






La plus part de nos partie sont ouvert au "freelance" c'est a dire au personne exterieur à l'association. (Ce qui ne paye pas leur cotisation anuelle).
Ils peuvent jouer tout comme nous et represente pas moins de 80% de nos joueurs et la plus part sont present très regulièrement !

En freelance les partie seront systematiquement payante. La "PAF". le prix peut varier. les membre eux, ne la paie pas.

Nous proposant des paque de locations pour ce qui non pas encore leur équipement. C'est souvant un cout suplementaire.
    Ces paque sont consisuter de :
    - La réplique: Colt M4 CQB mire. Une réplique court mais très efficace.
    - Un gilet tactique (optionel)
    - Un chargeur grand capacitées
    - 700 billes (700 billes c'est enorme)
    - Pair de gants (optionel)
    - Lunette/stolker/masque integral
    - Combinaison militaire (optionel)

    Pour finir, selon les partie nous organisont un repas ou non. Surveiller bien ce qui est annoncer lors de votre inscription.
    Si vous avez des restriction alimentaire et que vous voulez quand-même passer ce moment avec nous. Prevenez le staff que on s'arrange avec vous.


    Tout les partie ABC sont annoncer aupres la mairie, la gendarmerie et les pompier.
    Pas de partie sauvage chez nous. La gendarmerie peut à tout moment venir à notre rencontrer. Un comportement exemplaire vous sera demander.
    Répliques en sécurité, est on revien a la base si la gendarmerie l'exige.
    En cas de pressence de civil ou d'animaux sur le terrain. Réplique imediatement en sécurité, fait tourné rapidement l'information et la partie est suspendu le temps de
    racompagner gentilment et avec les sourire les éventuelle visiteur vers la sortie.



Quellque conseil avant et apres la partie:


    Mon conseil transport :
        Pour éviter tout probleme vos réplique doivent être transporter dans des boite ou sac, de manière inoperable.
        Pas de batterie, pas de chargeur dans la répliques. pas de chargeur déjà charger. Pas a porté de main, pas visible depuis l'exterieur.
        Pour les tenu, le treillie est autoriser en france pendant encore quellques mois. ceci dit, les porte plaque et ceinture tactireu, holdster non.
        Ile est plus simple de venir déjà habiller sur le terrain. mais sans votre porte plaque et prevoyer une veste civil par dessus vos vetement c'est toujours preferable.


        En cas de control de la gendarmerie. Annoncer imediatement la couleur. Annoncer que vous jouer chez les ABC (airsoft bordeaux concept) et le lieu du terrain. La gendarmerie et toujours preveni de nos partie.

        Mon exemple personnel :
        Réplique sans batterie, cordon d'alimentation bien visible, quellques billes qui train dans la boite.
        le tout dans une boite rigige opaque cadenaser (cadenas à 5€ suffit)
        Réplique dans le coffre avec affiche "airsoft" en evidence. Les chargeur, batterie, consomable dans un sac apart. Et les tenu dans un cabas. J'amais eu de probleme.



    Après la partie:
        Inspection tique obligatoire ! Elle peuvent ce glisser n'import ou et donne de grave maladie. Il fau tagire en moins de 24h après la picure. Si vous ne savais pas commente agire, rendez-vous imediatement en pharmacie.
        Regarder bien sous les bras, dans l'aine, les fesse et derière les oreil. Ce sont leur leur favorie elle savent que ce sont pas des zone beaucoup regarder. Votr elinge peut être infecter sans avoir eu de picure alors, laver imediatement vos vetement ou placer l'eau dehors a l'airlibre quellques heures/jours.

        A par les tiques, sorter rapidement vos materiel des boite en rentrant. Les tenu peuvent moisire, les réplique s'abimer.
        Surveiller vos batterie, debranchez les, verifier que vos chargeur soit vide et vos hopup bien remise à zero pour éviter d'user prematurement votre materiel.
        Netoyer vos canon. En une partie on peut perdre 0.2 joules sur une réplique par manque d'entretien.



    Conseil de sécurité général:
        Les 4 règles de sécurité.
            1. Toutes réplique doit être considérée comme chargée.
                Il n’existe pas d’exception. Il convient donc d’agir en conséquence et d’adopter une attitude absolument responsable.
                Les accidents surviennent la plupart du temps avec des répliques soit-disant vides.
            2. Ne jamais pointer ou laisser pointer le canon d'une réplique sur quelqu’un en dehors de la zone jeu.
                L’attitude inverse provoque à l’heure actuelle la majorité des accidents. Lorsque cette règle est enfreinte, la réponse habituelle à toutes remarques est de déclarer que sa réplique n’est pas chargée.
                Or toutes les répliques sont toujours considérées comme chargées. (règle n°1)
            3. Garder l’index hors de la détente, tant que les organes de visée ne sont pas alignés sur l’objectif.
                Un des réflexes innés de l’être humain est de crisper ses mains dans les situations de stress et un départ de coup involontaire peut en résulter.
                En outre, le temps nécessaire pour placer l’index sur la détente est plus court que celui qui consiste à obtenir le guidon net lors de la prise de visée.
                Cette posture doit devenir un réflexe : je me déplace le doigt le long du canon. Je place mon index sur la détente que pour tirer !
            4. Etre sûr de son objectif.
                Toujours identifier l’objectif avant de tirer. Prendre garde aux conséquences en cas de ricochet, de manqué ou de perforation de celui-ci.
                Le tireur est responsable de chacun de ses tirs. La méthode est toujours la même: détecter, identifier, traiter.

{% endblock %}
