{% extends 'gestion_projet/base.html' %}
{% block content %}
<h2>Liste des Bugs</h2>
<a href="{% url 'create_item' 'bug' %}" class="create-link edit-link">+ Créer un bug</a>

<div class="bug-filters">
    <a href="?priority=Haute">Haute</a>
    <a href="?priority=Moyenne">Moyenne</a>
    <a href="?priority=Basse">Basse</a>
</div>

<p>{{ bugs.paginator.count }} bugs à corriger</p>

<div class="task-list">
    {% for bug in bugs %}
    <div class="card">
        <h3>{{ bug.title }}</h3>
        <div class="tags">
            {% for tag in bug.tags.all %}
            <span class="tag" style="background-color: {{ tag.color }};">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <p class="assigned-to">
            {% if task.assigned_to %}Assigné à : {{ task.assigned_to }}{% else %}Non assigné{% endif %}
        </p>
        <div class="priority-flag {{ bug.priority|lower }}"></div>
        <a href="{% url 'bug_detail' bug.id %}" class="edit-link">Afficher</a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if bugs.has_previous %}
            <a href="?page=1">&laquo; première</a>
            <a href="?page={{ bugs.previous_page_number }}">précédente</a>
        {% endif %}
        <span class="current">
            Page {{ bugs.number }} de {{ bugs.paginator.num_pages }}
        </span>
        {% if tasks.has_next %}
            <a href="?page={{ bugs.next_page_number }}">suivante</a>
            <a href="?page={{ bugs.paginator.num_pages }}">dernière &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
