{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>To-Do List</title>
</head>
<body>

    <div id="sheet">
        <h5>Task List</h5>

        <div id="task_count">
            <p>Tâches complétées : {{ completed_tasks }} / {{ total_tasks }}</p>
            <p>Tâches restantes : {{ remaining_tasks }}</p>
        </div>

        <div id="progress_bar">
            <div id="in_progress_bar" style="width: {{ progress_percentage }}%;">
                <p>{{ progress_percentage }}%</p>
            </div>
        </div>

        <div id="task_list">
            <ul>
                {% for task in tasks %}
                    <li class="{% if task.completed %}completed{% endif %}">

                        {% if task.completed %}
                            <!-- Bouton d'archivage -->
                            <button class="archive-btn"
                                    onclick="window.location.href='{% url 'archive_task' task.id %}'">
                                <img src="{% static 'todo/images/archive.svg' %}" alt="Archiver" class="archive-icon"/> <!-- Remplace par le chemin de ton SVG -->
                            </button>
                        {% else %}
                            <!-- Checkbox si la tâche n'est pas terminée -->
                            <label class="checkbox-container">
                                <input type="checkbox"
                                       onchange="window.location.href='{% url 'complete_task' task.id %}'">
                                <span class="checkmark"></span>
                            </label>
                        {% endif %}

                        <span class="task-title">
                            {% if task.completed %}
                                <strong>{{ task.title }}</strong>
                            {% else %}
                                {{ task.title }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <a class="add_task" href="{% url 'add_task' %}">Add New Task</a>

    </div>

</body>
</html>
