{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changement d'email réussi</title>
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <h2 class="text-center">Changement d'email réussi</h2>
        <p class="sTop32">Votre adresse email a été changée avec succès.</p>
    </div>
</body>
</html>
