{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Login</title> {% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}

        <form method="post" class="col">
            <h1 class="text-center">Réinitialiser votre mot de passe</h1>
            {% csrf_token %}
            <div class="input-box">
                {{ form.email.label_tag }} {{ form.email }}
            </div>
            <div class="register-link">
                <button type="submit" class="btn-light">Envoyer</button>
            </div>
        </form>
{% endblock %}
