{% load static %}
<!-- account/password_reset_complete.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe réussie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper w600">
        <h2 class="text-center">Réinitialisation du mot de passe réussie</h2>
        <p class="sTop32">Votre mot de passe a été réinitialisé avec succès.</p>
        <p> Vous pouvez <a class="islink" href="{% url 'login' %}">vous connecter</a> avec votre nouveau mot de passe.</p>
    </div>
</body>
</html>
