{% load static %}
<!-- account/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper w600">
        <h2 class="text-center">Réinitialiser votre mot de passe</h2>
        <form method="post" class="sTop32">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}<div class="input-box">{{ form.new_password1 }}</div>
            {{ form.new_password2.label_tag }}<div class="input-box">{{ form.new_password2 }}</div>
            <button type="submit" class="btn">Réinitialiser le mot de passe</button>
        </form>
    </div>
</body>
</html>
