{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Profile</title> {% endblock %}
{% block Css %}
    <link rel="stylesheet" href="{% static 'account/css/profilesnew.css' %}">
{% endblock %}
{% block content %}


<div id="profil_general">

    <div class="profilmobil">
        <div class="spacer_50"></div>
        <img class="photo_de_profil" src="{{ user.userprofile.avatar.url }}" alt="Photo de profil de {{user.pseudo}}">

        <h1>{{ user.pseudo }}</h1>

        <p class="user_description">"{{ user.userprofile.bio }}"</p>

        {% if user.id == request.user.id %}<a href="{% url 'manage_badges' %}">{% endif %}
                <div class="badges">

                    {% if selected_badges %}
                        {% for user_badge in selected_badges %}
                        <div class="badge">
                            <img src="{{ user_badge.badge.image.url }}" title="{{ user_badge.badge.name }} : {{ user_badge.badge.description }}" alt="{{ user_badge.badge.name }}">
                        </div>
                        {% endfor %}
                    {% else %}
                        <a style="cursor: pointer;" href="{% url 'manage_badges' %}"><p>Vous avez aucun badges sur votre profil</p></a>
                    {% endif %}
                </div>
            {% if user.id == request.user.id %}</a>{% endif %}

        {% if user.id == request.user.id %}
            <div class="edit_profil">
                <a href="{% url 'update_user' %}" class="btn_2">Mes informations</a>
                <a href="{% url 'update_user_profile' %}" class="btn_2">Modifier mon profil</a>
            </div>
        {% endif %}


    </div>

    <div class="profilpc">
        <table>

            {% if user.id == request.user.id %}<a href="{% url 'manage_badges' %}">{% endif %}
                <div class="badges">

                    {% if selected_badges %}
                        {% for user_badge in selected_badges %}
                        <div class="badge">
                            <img src="{{ user_badge.badge.image.url }}" title="{{ user_badge.badge.name }} : {{ user_badge.badge.description }}" alt="{{ user_badge.badge.name }}">
                        </div>
                        {% endfor %}
                    {% else %}
                        <a style="cursor: pointer;" href="{% url 'manage_badges' %}"><p>Vous avez aucun badges sur votre profil</p></a>
                    {% endif %}
                </div>
            {% if user.id == request.user.id %}</a>{% endif %}


            <tr>
                <td class="firstrow"><img class="photo_de_profil" src="{{ user.userprofile.avatar.url }}" alt="Photo de profil de {{user.pseudo}}"></td>
                <td colspan="2">
                    <h2 class="role">{{ user.userprofile.role }}</h2>
                    <h1 class="pseudo">{{ user.pseudo }}</h1>
                    {% if user.userprofile.nom or user.userprofile.prenom %}
                        <h2 class="nomprenom">( {{ user.userprofile.nom }} {{ user.userprofile.prenom }} )</h2>
                    {% endif %}
                    <p class="user_description">"{{ user.userprofile.bio }}"</p>
                </td>
            </tr>
            <tr>
                <td class="firstrow">
                    <p>Ville : {{ user.userprofile.adresse }}</p>
                    <p>{{age}} ans ({{ user.date_of_birth }})</p>
                    {% if user.userprofile.blood_group != "unknown" %}
                        <p>{{ user.userprofile.blood_group}}</p>
                    {% endif %}

                    <p>{{user.userprofile.choices_gender}}</p>
                </td>
                <td class="morlarge"></td>
                <td class="tablebtn">
                    {% if user.id == request.user.id %}
                    <div class="edit_profil">
                        <a href="{% url 'update_user' %}" class="btn_2">Mes informations</a>
                        <a href="{% url 'update_user_profile' %}" class="btn_2">Modifier mon profil</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>


    <div class="repliqu">
        <div id="replique">
            {% for gun in user.guns.all %}
            <div class="replique_block">
                <a href="{% url 'update_gun' gun.pk %}">
                <div class="replique_unique">
                    <div class="box-top">
                        <img src="{{ gun.photo.url }}" alt="Photo de la réplique" width="200">
                        <p class="bsw1">{{ gun.replica_type }}</p>
                    </div>
                    <div class="box-bottom">
                        <p>{{ gun.name }}</p>
                        {% if gun.joule != None %}
                            <p>{{ gun.joule }} joule</p>
                        {% endif %}
                    </div>
                </div>

                </a>
            </div>
            {% endfor %}
        </div>


        {% if user.id == request.user.id %}
        <div class="add_replique">
            <a class="btn_4" href="{% url 'create_gun' %}">Ajouter une réplique</a>
        </div>
        {% endif %}
    </div>




    <div id="section_commentaire">
        <article>
            <img class="br100" src="https://picsum.photos/200" alt="">
            <p>"Un super joueur, toujours fair-play et surement notre meilleur sniper !"</p>
            <i></i>
            <a href="#">delete</a>
        </article>
        <article>
            <img class="br100" src="https://picsum.photos/id/200/200" alt="">
            <p>“Un super joueur”</p>
            <i></i>
            <a href="#">delete</a>
        </article>
        <article>
            <img class="br100" src="https://thispersondoesnotexist.com" alt="">
            <p>“Un super joueur, toujours fair-play et surement notre meilleur sniper !”</p>
            <i></i>
            <a href="#">delete</a>
        </article>
        {% if user.id != request.user.id %}
            <a class="btn-2 add-commentaire" href="">Ajouter un commentaire</a>
        {% endif %}
    </div>




</div>



{% endblock %}








